/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header__container {
  background-color: darkslategrey;
}

.header__nav {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10%;
}

.nav-item {
  margin: 10px;
}

/* メンバー */
.member-section .members {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
}

.member {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.member__image img {
  background-color: #0f1923;
  width: 200px;
  padding: 30px;
  margin: 50px;
}

.member__name {
  display: flex;
  background-color: #0f1923;
  color: white;
}

/* ゲーム */
.game-section .games {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  background-color: #0f1923;
}

.game {
  background-color: #0f1923;
  width: 100%;
}

.gamegame__image {
  background-color: #0f1923;
  padding: 30px;
  margin: 50px;
}

.game__name {
  padding: 10px;
}

/* お問い合わせ */
